@import url('https://fonts.googleapis.com/css?family=Preahvihear:700|Preahvihear:400');

body {
  font-family: 'Preahvihear';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Preahvihear';
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root {
  color-scheme: light;
  
  --text-50: hsl(40, 36%, 95%);
  --text-100: hsl(44, 37%, 90%);
  --text-200: hsl(44, 37%, 80%);
  --text-300: hsl(44, 37%, 70%);
  --text-400: hsl(44, 37%, 60%);
  --text-500: hsl(44, 37%, 50%);
  --text-600: hsl(44, 37%, 40%);
  --text-700: hsl(44, 37%, 30%);
  --text-800: hsl(44, 37%, 20%);
  --text-900: hsl(44, 37%, 10%);
  --text-950: hsl(47, 36%, 5%);

  --background-50: hsl(44, 44%, 95%);
  --background-100: hsl(44, 45%, 90%);
  --background-200: hsl(44, 43%, 80%);
  --background-300: hsl(44, 44%, 70%);
  --background-400: hsl(44, 44%, 60%);
  --background-500: hsl(44, 44%, 50%);
  --background-600: hsl(44, 44%, 40%);
  --background-700: hsl(44, 44%, 30%);
  --background-800: hsl(44, 43%, 20%);
  --background-900: hsl(44, 45%, 10%);
  --background-950: hsl(44, 44%, 5%);

  --primary-50: hsl(47, 54%, 95%);
  --primary-100: hsl(43, 57%, 90%);
  --primary-200: hsl(44, 55%, 80%);
  --primary-300: hsl(44, 56%, 70%);
  --primary-400: hsl(44, 55%, 60%);
  --primary-500: hsl(44, 55%, 50%);
  --primary-600: hsl(44, 55%, 40%);
  --primary-700: hsl(44, 56%, 30%);
  --primary-800: hsl(44, 55%, 20%);
  --primary-900: hsl(43, 57%, 10%);
  --primary-950: hsl(43, 54%, 5%);

  --secondary-50: hsl(42, 68%, 95%);
  --secondary-100: hsl(45, 65%, 90%);
  --secondary-200: hsl(45, 65%, 80%);
  --secondary-300: hsl(45, 65%, 70%);
  --secondary-400: hsl(45, 65%, 60%);
  --secondary-500: hsl(45, 65%, 50%);
  --secondary-600: hsl(45, 65%, 40%);
  --secondary-700: hsl(45, 65%, 30%);
  --secondary-800: hsl(45, 65%, 20%);
  --secondary-900: hsl(45, 65%, 10%);
  --secondary-950: hsl(46, 68%, 5%);

  --accent-50: hsl(44, 76%, 95%);
  --accent-100: hsl(44, 73%, 90%);
  --accent-200: rgb(241, 221, 167);
  --accent-300: hsl(44, 73%, 70%);
  --accent-400: hsl(44, 73%, 60%);
  --accent-500: hsl(44, 73%, 50%);
  --accent-600: hsl(44, 73%, 40%);
  --accent-700: hsl(44, 73%, 30%);
  --accent-800: hsl(44, 73%, 20%);
  --accent-900: hsl(44, 73%, 10%);
  --accent-950: hsl(44, 76%, 5%);

}

*{
   /* min-width: 0px; */
   word-wrap:break-word;

    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

div.wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

body, html{
	height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
body {
	background-color: var(--background-100);
	color: var(--text-950);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

   -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
  padding: 0;
}
a.button{
	font-family: 'Preahvihear';
	font-size: medium;
	border: none;
	color: var(--text-100);
	background-color: var(--primary-700);
	padding-inline: 20px;
	padding-block: 5px;
  text-decoration: none;

  transition: 300ms ease-in;
} button:hover{
  transform: translate(0, -5px);
} button:active{
  background-color: var(--primary-600);
}

footer{
	position: absolute;
	bottom: 20px;
}
.wrap{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
a.link{
	text-decoration: none;
	color: var(--text-950);
} a.link:hover{
	color: var(--text-700);
}

span.circle-large {
  z-index: -2;

  position: absolute;
  top: 0;
  right: 0;
  height: 250%;
  aspect-ratio: 1;
  background-image: radial-gradient(var(--secondary-400), transparent 70%);
  opacity: 50%;
  border-radius: 50%;
  transform: translate(60%, -60%);

  animation: large-circle 10s linear infinite;
}
span.circle-small {
  z-index: -2;

  position: absolute;
  bottom: 0;
  left: 0;
  height: 250%;
  aspect-ratio: 1;
  background-image: radial-gradient(var(--secondary-400), transparent 70%);
  opacity: 40%;
  border-radius: 50%;
  transform: translate(-70%, 70%);

  animation: small-circle 8s linear infinite;
}

div.projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: var(--background-100);

  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  overflow-x: hidden;

  z-index: 99;
}
div.projects > a{
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.777rem;

  z-index:9999;
}
ol{
  list-style-type: none;
  margin-left: 0;

  margin-top: 15%;
}
ol > li {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  width: clamp(200px, 80vw, 800px);

  background-color: var(--secondary-200);
  padding: 1.5rem;
  margin: 2rem;
}

ol > li:nth-child(even) {
  transform: translate(10%, 0);
}ol > li:nth-child(odd) {
  transform: translate(-10%, 0);
}


ol > li > div{
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  aspect-ratio: 1;
  background-color: var(--secondary-300);
}
ol > li > span > span > h5 {
  align-self: center;
  margin: 0;
}
ol > li > span > span > h3{
  margin: 0;
  color: var(--primary-500);
}
ol > li > span > span {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-height: min-content;
}
ol > li > span {
  display: flex;
  flex-direction: column;
}
ol > li > span > p {
  flex: 2;
  margin: 0;
  margin-left: 2rem;
  text-align: start;

}
ol > li > span > p > a{
  color: var(--text-700);
  text-wrap: wrap;
  text-overflow: ellipsis;
}ol > li > span > p > a:hover{
  color: var(--text-950);
}
/* ol > li > span > p > a:visited{
  color: var(--text-600);
} */

.image-container {
  background-size: contain;

  aspect-ratio: 1;
}


@keyframes large-circle {
  0% {
    transform: translate(60%, -60%);
  } 20% {
    transform: translate(80%, -30%);
  } 30% {
    transform: translate(60%, 0%);
  } 50% {
    transform: translate(30%, 10%);
  } 70% {
    transform: translate(60%, 0%);
  } 80% {
    transform: translate(80%, -30%);
  } 100% {
    transform: translate(60%, -60%);
  }
}
@keyframes small-circle {
  0% {
    transform: translate(-70%, 70%);
  } 20% {
    transform: translate(-80%, 30%);
  } 30% {
    transform: translate(-70%, 0%);
  } 50% {
    transform: translate(-40%, -10%);
  } 70% {
    transform: translate(-70%, 0%);
  } 80% {
    transform: translate(-80%, 30%);
  } 100% {
    transform: translate(-70%, 70%);
  }
}

/* ripple */

.ripple-wrap {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
}
@-webkit-keyframes RIPPLER {
  0%   { border-width: 0; }
  40% { 
    height: 0;
    width: 0;
    border-width: 2500px;
    margin-top: -2500px;
    margin-left:-2500px; 
    border-color: var(--background-950);
  }
  
  45% { 
    height: 0;
    width: 0;
    border-width: 2500px;
    margin-top: -2500px;
    margin-left:-2500px; 
    border-color: var(--background-950);
  }
  100% {
    border-width: 2500px;
    height: 2500px;
    width: 2500px;
    margin-top: -2500px;
    margin-left:-2500px;
    border-color: var(--background-950);
  }
}
@keyframes RIPPLER {
  0%   { border-width: 0; }
  40% { 
    height: 0;
    width: 0;
    border-width: 2500px;
    margin-top: -2500px;
    margin-left:-2500px; 
    border-color: var(--background-950);
  }
  45% { 
    height: 0;
    width: 0;
    border-width: 2500px;
    margin-top: -2500px;
    margin-left:-2500px; 
    border-color: var(--background-950);
  }
  100% {
    border-width: 3000px;
    height: 4500px; /* 2000px; */
    width: 4500px;
    margin-top: -5200px; /* -2500px; */
    margin-left:-5200px;
    border-color: var(--background-800);
  }
}
.ripple {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: var(--background-800);
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}
.ripple-wrap.goripple {
  display: block;
}
.ripple-wrap.goripple .ripple {
 -webkit-animation-name: RIPPLER;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
 animation-name: RIPPLER;
 animation-duration: 2s;
 animation-fill-mode: forwards;

}

/* end ripple */


/* main screen */
@media (max-width: 800px) {
  h1 {font-size: 3rem;}
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
  }
}

/* second screen */
@media (max-width: 1100px) {
  ol > li:nth-child(even) {
    transform: translate(0%, 0);
  }ol > li:nth-child(odd) {
    transform: translate(0%, 0);
  }

  ol > li {
    flex-direction: column-reverse;
    align-items: center;
  }

  ol {
    margin: 0;
    padding: 0;

    margin-top: 50px;
  }

  div.projects > a{
    text-shadow: 0px 0px 20px var(--primary-800);
  }
}